# ignore directories gradle &  build
/gradle-project/.gradle/
/gradle-project/build/

/HelloCucumber/.nb-gradle/
/HelloCucumber/build/
/HelloCucumber/.gradle/


/LoginCucumber/.gradle/
/LoginCucumber/build/
/LoginCucumber/.nb-gradle/